.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 24px;
    text-transform: uppercase;    
    letter-spacing: 1.2px;
    font-weight: 500;
    transition: all 300ms ease;


    &.primary-dark {
        background-color: $color-primary-dark;
        color: $color-white;
        border: 2px solid $color-primary-dark;
        &:hover {
            background-color: $color-secondary-light;
            color: $color-primary-dark;
        }
    }

     &.secondary-dark {
        background-color: $color-secondary-dark;
        color: $color-white;
        border: 2px solid $color-secondary-dark;
        &:hover {
            background-color: $color-secondary-light;
            color: $color-secondary-dark;
        }
    }

    &.secondary-light {
        background-color: $color-secondary-light;
        color: $color-secondary-dark;
        border: 2px solid $color-secondary-light;
        &:hover {
            background-color: $color-secondary-dark;
            color: $color-secondary-light;
        }
    }

    &.white {
        background-color: $color-white !important;
        color: $color-black !important;
        border: 2px solid $color-white;
        &:hover {
            background-color: $color-secondary-dark !important;
            color: $color-secondary-light !important;
        }
    }

}