.ec-container {
    max-width: 1202px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 16px;

    @media (min-width: $bp-desktop-sm-max) {
        max-width: 1202px !important;
    }

    .section {
        max-width: 100%;
        width: 100%;
        flex-grow: 1;
    }
}

.ec-title {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    &.center {
        justify-content: center;
    }
    img {
        width: 28px;
        height: auto;
        margin-top: 10px;
    }

    h2 {
        color: $color-primary-dark;
        font-family: 'Rufina', serif;
        font-size: 38px;
        font-weight: 400;
        text-transform: capitalize;
    }
 
}

.ec-description {
    color: $color-black;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;

    &.center {
        text-align: center;
    }

    &.featured {
        border-left: 3px solid $color-primary;
        padding-left: 12px;
    }
}

.image-text {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;

    .image {
        overflow: hidden;
        aspect-ratio: 1 / 1;

        img {
            object-fit: cover;
            width: auto;
            height: 100%;
        }
    }

    .text {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    // &.left {
    //     grid-template-columns: 1fr 2fr;
    // }

    // &.right {
    //     grid-template-columns: 2fr 1fr;
    // }
}