// COLORS
$color-primary-light: #E1EBF5;
$color-primary: #8eaed3;
$color-primary-dark: #20374f;
$color-primary-dark-2: #364b63;
$color-secondary-light: #ede6ea;
$color-secondary: #bc5e99;
$color-secondary-dark: #792043;
$color-text-color: #171717;
$color-black: #000;
$color-white: #fff;
$color-gray-light: #F3F5F7;
$color-gray-medium: #D4D4D4;
$color-gray-dark: #353535;
$color-text: #241B18;
$bg-gradient: linear-gradient(90deg, #310202 6.98%, rgba(49, 13, 13, 0.00) 85.94%),
url(<path-to-image>) lightgray -17.867px -218.484px / 119.309% 178.128% no-repeat;
// VIEWPOINTS
$bp-mobile-max: 499px; // mobile under 499px
$bp-tablet-sm-min: 500px;
$bp-tablet-sm-max: 768px; // small tablet under 768px
$bp-tablet-lg-min: 769px;
$bp-tablet-lg-max: 1024px; // large tablet under 1024px
$bp-desktop-sm-min: 1025px;
$bp-desktop-sm-max: 1201px; // small monitor under 1280px
$bp-desktop-lg-min: 1202px;
$bp-desktop-lg-max: 1440px; // large monitor under 1440px
$bp-desktop-xl-min: 1441px;
// LAYOUT 
$container-width: 1182px;
$container-padding: 16px;
$gap-lg: 40px;
$gap-md: 24px;
$gap-sm: 20px;
$gap-xs: 8px;
// FONTS
$font-family-primary: "DM Sans",
sans-serif;
$font-family-secondary: "Rufina",
serif;