// JOIN CTA
.join-cta {
    width: 100%;
    position: relative;
    background: url('/images/building.jpg') 0 35%/cover no-repeat;
    &::before {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        content: '';
        background-color: $color-primary-dark;
        opacity: 0.4;
    }
    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 24px;
        max-width: 600px;
        width: 100%;
    }
}

// CONTACT CTA
.contact-cta {
    width: 100%;
    background-color: $color-secondary-light;
    form {
        input,
        textarea {
            font-family: $font-family-primary;
            border-color: $color-primary-dark;
            color: $color-primary-dark-2;
            &::placeholder {
                color: $color-primary-dark;
            }
            &:focus,
            &:active {
                background-color: $color-white;
            }
        }
    }
    &.contact-page {
        background-color: $color-gray-light;
        .right-form {
            input,
            textarea {
                border-color: $color-primary-dark;
                color: $color-primary-dark-2;
                &::placeholder {
                    color: $color-primary-dark;
                    opacity: 0.8;
                }
            }
        }
    }
    .ec-container {
        padding: 50px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        .left-content {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
        .button.secondary {
            &:hover {
                border: 2px solid $color-white !important;
            }
        }
    }
}