#footer {
    background-color: $color-primary-dark;
    
    .footer-wrapper {
        padding: 50px 0;
        display: flex;
        gap: 32px;
        justify-content: space-between;

        p, a, span  {
            color: $color-white;
            font-size: 14px;
        }

        .widget-title {
            flex-shrink: 0;
        }

        .footer-col-1 {
            display: flex;
            flex-direction: column;
            gap: 32px;
            max-width: 350px;

            .logo {
                height: 50px;
                
                img {
                    height: 100%;
                    width: auto;
                }
            }

            .social-links {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 12px;

                img {
                    width: 30px;

                }
            }
        }

        .footer-col-2, .footer-col-3, .footer-col-4 {
            display: flex;
            flex-direction: column;
            gap: 16px;
            
            form {
                display: flex;
                flex-direction: column;
                gap: 16px;

                input {
                    width: 100%;
                    outline: none;
                    border: 1px solid $color-white;
                    padding: 8px 12px;
                    height: 45px;
                    background-color: transparent;
                    &::placeholder {
                        color: rgba(255,255,255, 0.8);
                    }
                }
                .button {
                    padding: 8px 16px;
                    color: $color-primary-dark;
                    font-size: 14px;

                    &:hover {
                        color: $color-white;
                    }
                }
            }
        }

    }

    .bottom-bar {
        padding: 24px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid rgba(255,255,255, 0.1);

        .copyright {
            color: $color-white;
            font-size: 12px;
        }

        .additional-links {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 24px;

            a, div {
                color: $color-white;
                font-size: 12px;
            }
        }
    }
}

#primary {
    min-height: 150vh;
}