.icon-list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .icon-list__item {
        display: flex;
        align-items: center;
        gap: 10px;

        .content {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }

    &.heart {
        .icon-list__item {
            align-items: flex-start;
            h3, h4 {
                color: $color-primary-dark;
            }
        }
    }
}
