// HERO
.hero {
    height: 740px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;;
    background-color: #310202;
 
    .bg_overlay, .slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .slider {
        z-index: 1;

        &.slider-1 {
            background-image: url('/images/hero-1.jpg');
            animation: slider1 9s infinite;
        }
         &.slider-2 {
            background-image: url('/images/group-game-1.jpg');
            animation: slider2 9s infinite;
        }
         &.slider-3 {
            background-image: url('/images/why_us/whyus_1.jpg');
            animation: slider3 9s infinite;
        }
    }

    .bg_overlay {
        z-index: 2;
        background: linear-gradient(90deg, #310202 0%, rgba(49, 2, 2, 0.3) 86%);
    }

    .ec-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        position: relative;
        z-index: 5;
        

        .hero-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 16px;
            max-width: 540px;
            width: 100%;
            align-items: flex-start;

            h1, p {
                color: $color-white;
            }

 
        }
             
    }

}

@keyframes slider1 {
    0% {
        opacity: 1;
    }

    23% {
        opacity: 1;
    }

    33% {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@keyframes slider2 {
    0% {
        opacity: 0;
    }

    23% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }

    56% {
        opacity: 1;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }

}

@keyframes slider3 {
    0% {
        opacity: 0;
    }

    56% {
        opacity: 0;
    }

    66% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

 
// ABOUT
.home-about {
    width: 100%;
    background-color: $color-secondary-light;

    .ec-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;

        .left-video {
            video {
                width: 100%;
                min-width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }

        .right-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 24px;
        }
    }
}

// SERVICES
.home-services {

    .ec-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
        
        .services-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 0;

            .services-item {
                padding: 12px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16px;

                img {
                    aspect-ratio: 374/270;
                    width: 100%;
                }

                p {
                    color: $color-black;
                }

                &:hover {
                    background-color: $color-secondary-light;

                    p {
                        color: $color-primary;
                    }
                }
            }
        }
    }
}

// WHY US
.home-whyus {
    width: 100%;
    position: relative;
    padding-top: 40px;

    .bg-img {
        position: absolute;
        left: 0;
        top: 0;
        width: 60%;
        height: 100%;
        background-image: url('/images/bg-graphics.jpg');
        background-position: top right;
        background-size: cover;

        @media (max-width: $bp-desktop-sm-max) {
            width: 100%;
        }
    }

    .ec-container {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        align-items: stretch;

        .left-content {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    }

    .right-img {
        height: calc(100% - 40px);
        min-height: 300px;
        position: absolute;
        width: calc(50% - 32px);
        right: 0;
        top: 40px;
        background-image: url('/images/whyus.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

// TESTIMONIAL
.home-testimonial {
    width: 100%;
    background-color: $color-gray-light;

    .ec-container {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .testimonials-box {
            width: 100%;
            overflow: visible;
            padding: 0 20px 60px 20px;
            position: relative;
            
            .swiper {
                width: 100%;
                
                .swiper-slide {
                    padding: 0 12px;
                    height: auto;

                    .testimonial-item {
                        display: flex;
                        padding: 24px 32px;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 24px;
                        flex: 1 0 0;
                        align-self: stretch;
                        width: 100%;
                        height: 100%;
                        background-color: $color-white;
                    }
                    
                }
            }

            .swiper-pagination {
                .swiper-pagination-bullet-active {
                    background-color: $color-primary-dark !important;
                }
            }

            .swiper-button-prev {
                top: calc(50% - 30px);
                left:  0px;
                &:after {
                    font-size: 24px;
                    color: $color-primary;
                }
            }

            .swiper-button-next {
                top: calc(50% - 30px);
                right:  0px;
                &:after {
                    font-size: 24px;
                    color: $color-primary;
                }
            }


        }
    }
}