// HERO
.hero {
    min-height: 740px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;;
    padding: 50px 0;
    background-color: #310202;
 
    .bg_overlay, .slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .slider {
        z-index: 1;

        &.slider-1 {
            background-image: url('/images/hero-1.jpg');
            animation: slider1 9s infinite;
        }
         &.slider-2 {
            background-image: url('/images/group-game-1.jpg');
            animation: slider2 9s infinite;
        }
         &.slider-3 {
            background-image: url('/images/group-costume-1.jpg');
            animation: slider3 9s infinite;
        }
    }

    .bg_overlay {
        z-index: 2;
        background: linear-gradient(90deg, #310202 0%, rgba(49, 2, 2, 0.3) 86%);
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        position: relative;
        z-index: 5;

        .hero-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 16px;
            max-width: 540px;
            width: 100%;
            align-items: flex-start;

            h1, p {
                color: $color-white;
            }

            .button-wrapper {
                padding-top: 12px;
            }
        }
             
    }

}

@keyframes slider1 {
    0% {
        opacity: 1;
    }

    23% {
        opacity: 1;
    }

    33% {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@keyframes slider2 {
    0% {
        opacity: 0;
    }

    23% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }

    56% {
        opacity: 1;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }

}

@keyframes slider3 {
    0% {
        opacity: 0;
    }

    56% {
        opacity: 0;
    }

    66% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

 
// ABOUT
.home-about {
    width: 100%;
    background-color: $color-secondary-light;

    .ec-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32p;

        .left-vidoe {
            video {
                width: 100%;
                height: 100%;
            }
        }

        .right-content{
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    }
}