.ec-container {
    max-width: 1202px;
    width: 100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;

    @media (min-width: $bp-desktop-sm-max) {
        max-width: 1202px !important;
    }
}

